@import "../atoms/input";

@mixin promotion-input() {
  display: flex;
}

@mixin promotion-input-small() {
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & .input-continer {
    width: 60%;
  }

  & .button__icon {
    width: 40%;
  }

  & .input {
    @include input();
    border-radius: 30px;
    color: var(--color-white);

    &:invalid {
      border: 3px solid var(--color-red);

      & + .message {
        visibility: visible;
      }
    }
  }

  & .input-dark {
    @include input-dark();
    color: var(--color-white);
  }
}

.promotion-input {
  @include promotion-input()
}

.promotion-input.small {
  @include promotion-input-small()
}
