/* Icons from directory "" */
.icon-arrow-left,.icon-arrow-left\:regular{background-image:url('../public/arrow.svg');background-position:0 0;background-repeat:no-repeat}
.icon-arrow-left-dims{width:22px;height:16px}
.icon-arrow-right,.icon-arrow-right\:regular{background-image:url('../public/arrow.svg');background-position:0 -16px;background-repeat:no-repeat}
.icon-arrow-right-dims{width:22px;height:16px}
