.button {
  background-color: var(--color-red);
  border-radius: 4px;
  color: var(--color-white);
  padding: 12px 20px;
  border: none;

  &:hover {
    background-color: var(--color-red-dark);
  }

  &:focus {
    border: 3px solid var(--color-green);
  }

  &:disabled {
    background-color: var(--color-grey);
  }
}
