/* Icons from directory "" */
.icon-checkbox-checked,.icon-checkbox-checked\:regular{background-image:url('../public/check.svg');background-position:0 0;background-repeat:no-repeat}
.icon-checkbox-checked-dims{width:16px;height:16px}
.icon-checkbox-unchecked,.icon-checkbox-unchecked\:regular{background-image:url('../public/check.svg');background-position:0 -16px;background-repeat:no-repeat}
.icon-checkbox-unchecked-dims{width:16px;height:16px}
