@mixin showcase {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  background: black;
  border: 1px dashed var(--color-violet);
  // FIXME: row이면 주변의 영향을 받으므로 임시 수정
  flex-flow: column;
}

.showcase__sm {
  @include showcase;
  width: 78px;
}

.showcase__md {
  @include showcase;
  width: 230px;
}

.showcase__lg {
  @include showcase;
  width: 630px;
}

.showcase__lg--white {
  @include showcase;
  background: var(--color-white);
  width: 630px;
}

.showcase__xl {
  @include showcase;
  width: 100vw;
}
