@mixin showcase {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding: 20px;
  background: black;
  border: 1px dashed var(--color-violet);
}

.showcase-sm {
  @include showcase;
  width: 78px;
}

.showcase-md {
  @include showcase;
  width: 230px;
}

.showcase-xl {
  @include showcase;
  width: 100vw;
}
