$textSizes: (12, 14, 16, 18, 20, 22, 24, 28, 34, 48, 60);

.text {
  @each $size in $textSizes{
    &-#{$size} {
      font-family: 'Spoqa Han Sans', 'serif';
      font-size: #{$size}px;
    }
  }
}

@mixin bold() {
  font-weight: 700;
}

.bold {
  @include bold();
}

@mixin white() {
  color: var(--color-white);
}

.white {
  @include white();
}
