$textSizes: (12, 14, 16, 18, 20, 22, 24, 28, 34, 48, 60);

.text {
  @each $size in $textSizes{
    &-#{$size} {
      font-family: 'Spoqa Han Sans', 'serif';
      font-size: #{$size}px;
    }
  }
}

.bold {
  font-weight: bold;
}

.white {
  color: var(--color-white);
}