:root {
  --color-red: #E50914;
  --color-red-dark: #B70710;
  --color-blue: #0071EB;
  --color-green: #2EDE75;
  --color-black: #010101;
  --color-grey: #757575;
  --color-grey-dark: #2f2f2f;
  --color-white: #FFFFFF;
  --color-violet: #7B61FF;
}
