/* Icons from directory "" */
.icon-logo__red-fill,.icon-logo__red-fill\:regular{background-image:url('../public/logo.svg');background-position:0 0;background-repeat:no-repeat}
.icon-logo__red-fill-dims{width:210px;height:57px}
.icon-logo__red-outline,.icon-logo__red-outline\:regular{background-image:url('../public/logo.svg');background-position:0 -57px;background-repeat:no-repeat}
.icon-logo__red-outline-dims{width:210px;height:57px}
.icon-logo__white-fill,.icon-logo__white-fill\:regular{background-image:url('../public/logo.svg');background-position:0 -114px;background-repeat:no-repeat}
.icon-logo__white-fill-dims{width:210px;height:57px}
.icon-logo__white-outline,.icon-logo__white-outline\:regular{background-image:url('../public/logo.svg');background-position:0 -171px;background-repeat:no-repeat}
.icon-logo__white-outline-dims{width:210px;height:57px}
