@import "../subatoms/fonts";
@import "../atoms/button";
@import "../molcules/promotion-input";

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.member-register {
  background-color: var(--color-black);

  & .container {
    @include flex-center();
    flex-direction: column;
    padding: 57px 120px;

    & .title {
      @extend .text-60;
      @include bold();
      @include white();
      @include flex-center();
      flex-direction: column;
    }

    & .title-sub1 {
      @extend .text-20;
      @include white();
      @include bold();
      @include flex-center();
    }

    & .title-sub2 {
      @extend .text-16;
      @include white();
      @include bold();
      @include flex-center();
    }

    & .title-sub3 {
      @extend .text-16;
      @include white();
      @include bold();
    }
  }

  @media screen and (max-width: 1192px) {
    & .container {
      @include flex-center();
      flex-direction: column;
      padding: 20px 18px;

      & .title {
        font-family: 'Spoqa Han Sans', 'serif';
        font-size: 34px;
        @include bold();
        @include white();
      }

      & .title-sub1 {
        font-family: 'Spoqa Han Sans', 'serif';
        font-size: 18px;
        @include bold();
        @include white();
        @include flex-center();
        flex-direction: column;
      }

      & .title-sub2 {
        font-family: 'Spoqa Han Sans', 'serif';
        font-size: 14px;
        @include bold();
        @include white();
        @include flex-center();
        flex-direction: column;
      }

      & .title-sub3 {
        font-family: 'Spoqa Han Sans', 'serif';
        font-size: 12px;
        @include bold();
        @include white();
      }

      & .promotion-input {
        @include promotion-input-small();

        & .input-dark {
          @include rounded();
          height: 40px;

          &:invalid {
            border: 3px solid var(--color-red);

            & + .message {
              visibility: visible;
            }
          }
        }

        & .button__icon {
          @include rounded();
          height: 40px;
          font-family: 'Spoqa Han Sans', 'serif';
          font-size: 14px;
          @include bold();
        }
      }
    }
  }
}
